---
import Layout from "../layouts/Layout.astro";
---

<Layout title="" description="">
  <main slot="body">
    <div class="about">
      <div class="modFV">
        <h2 class="modTitle"><span class="en">Leia Dance Studio</span>の<span class="pink">魅</span>力</h2>
        <h3 class="modSubTitle">About</h3>
        <figure>
          <img src="/assets/img/about/fv.png" alt="Leia Dance Studioの魅力" width="830" height="566" />
        </figure>
      </div>
      <p class="modText">
        自由ヶ丘で本格的なジャズダンス、<br class="sm-only">ミュージカル・ショーダンスを中心に<br />
        親切・丁寧に教えております。ジャズダンスを元に<br />
        フラメンコ、フラダンス、タップなど様々なダンスを<br class="sm-only">融合した金光ダンスを、<br />
        初心者始め経験者も含めて幅広く楽しく<br class="sm-only">往年の名曲をベースに、ミュージカル・商業公演で<br />
        披露したダンスを踊ってみませんか？
      </p>

      <figure class="modBandImg">
        <img src="/assets/img/about/band.jpg" alt="Leia Dance Studioの魅力" width="1440" height="353" />
      </figure>

      <div class="about__contents">
        <div class="about__contentsBox">
          <figure class="about__contentsBox__img">
            <figcaption class="about__contentsBox__imgCap">
              <p class="about__contentsBox__imgCap--en">Styles</p>
              <p class="about__contentsBox__imgCap--num">01</p>
              <p class="about__contentsBox__imgCap--txt">洗練されたジャズダンスを身近に</p>
            </figcaption>
            <img src="/assets/img/about/about01.jpg" alt="洗練されたジャズダンスを身近に" width="680" height="435" />
          </figure>
          <div class="about__contentsBox__text">ブロードウェイやディズニー、劇団四季、宝塚歌劇団などの華やかな舞台で踊られるショーダンスやミュージカルダンスを始め、様々なダンススタイルを融合した洗練されたジャズダンスを学ぶことができます。80年代、90年代の名曲から最近の流行の曲まで様々な楽曲で踊れます。 ジャズダンスを基本にミュージカルダンス、モダンダンス、フラダンス、フラメンコ、タップダンスなど多様なダンススタイルを取り入れた独自のカリキュラムで、幅広い表現力を身につけることができます。多彩な世界観の作品を通じて、より深いダンスの魅力を感じていただけます。</div>
        </div>

        <div class="about__contentsBox">
          <div class="about__contentsBox__text">  
            教師の<a href="/teacher">河野麻耶（こうのまや）</a>は、祖母・金光郁子のもとで1歳よりダンスを学びダンス一家の血を受け継ぎました。舞踊歴は40年以上。日本ジャズダンス芸術協会主催コンクールにて1991年ジュニアの部次点、1996年成人部門特別賞、2002年アダルト部門第1位、2007年にはコンクール最高位のグランプリを受賞。同ダンスコンクールの審査員も昨今は務めています。前身である金光郁子舞踊学園での商業講演や発表会、（一社）日本ジャズダンス芸術協会主催公演は30回以上出演、その他外部公演にも積極的に参加し豊富な経験があります。</div>
          <figure class="about__contentsBox__img">
            <figcaption class="about__contentsBox__imgCap">
              <p class="about__contentsBox__imgCap--en">Experienced</p>
              <p class="about__contentsBox__imgCap--num">02</p>
              <p class="about__contentsBox__imgCap--txt">豊富な経験と実績</p>
            </figcaption>
            <img src="/assets/img/about/about02.jpg" alt="豊富な経験と実績" width="680" height="435" />
          </figure>
        </div>

        <div class="about__contentsBox">
          <figure class="about__contentsBox__img">
            <figcaption class="about__contentsBox__imgCap">
              <p class="about__contentsBox__imgCap--en">Curriculum</p>
              <p class="about__contentsBox__imgCap--num">03</p>
              <p class="about__contentsBox__imgCap--txt">初心者大歓迎！柔軟なカリキュラム！</p>
            </figcaption>
            <img src="/assets/img/about/about03.jpg" alt="初心者大歓迎！柔軟なカリキュラム！" width="680" height="435" />
          </figure>
          <div class="about__contentsBox__text">未経験者の方も大丈夫！各自のレベルに合わせた振付けで基礎から丁寧に指導いたしますので、初心者でも、経験者も安心して参加できます。教材は生徒のペースに合わせて振り付けは柔軟に調整し指導します。定期的に新しい作品に挑戦することができるので飽きずに続けられます。 Leia Dance Studio でジャズダンスの魅力を存分に楽しみながら、自身の成長を感じてみませんか？曲に合わせて楽しく体を動かしているうちに、動きも表現も、徐々に身についていきます。様々な作品に触れながら、ジャズダンスの世界を楽しみましょう!</div>
        </div>

        <div class="about__contentsBox">
          <div class="about__contentsBox__text">Leia Dance Studio では、10代から70代まで幅広い年齢層の方々が一緒に踊り、笑顔が絶えないスタジオです。生徒一人ひとりを大切にし、初心者でも安心して楽しめる環境を提供しています。ダンスを通じて心と体をリフレッシュしながら、新しい仲間との絆も深まるアットホームな空間で、楽しく踊りましょう！</div>
          <figure class="about__contentsBox__img">
            <figcaption class="about__contentsBox__imgCap">
              <p class="about__contentsBox__imgCap--en">Homey</p>
              <p class="about__contentsBox__imgCap--num">04</p>
              <p class="about__contentsBox__imgCap--txt">アットホームな雰囲気</p>
            </figcaption>
            <img src="/assets/img/about/about04.jpg" alt="アットホームな雰囲気" width="680" height="435" />
          </figure>
        </div>

        <div class="about__contentsBox">
          <figure class="about__contentsBox__img">
            <figcaption class="about__contentsBox__imgCap">
              <p class="about__contentsBox__imgCap--en">Healthy</p>
              <p class="about__contentsBox__imgCap--num">05</p>
              <p class="about__contentsBox__imgCap--txt"> 健康と美の向上に</p>
            </figcaption>
            <img src="/assets/img/about/about05.jpg" alt=" 健康と美の向上に" width="680" height="435" />
          </figure>
          <div class="about__contentsBox__text">ダンスを通じて、体の内側からも美しくなることを目指しています。
            ファッションやメイクなどの表面的な美しさだけではなく、姿勢や立ち振る舞いなど内面的な美しさが備わります。姿勢の改善や筋力の向上、柔軟性の強化だけでなく、心と体の健康を向上させる効果があります。スタジオでの時間は、日々のストレスを忘れ、心身をリフレッシュさせる貴重なひととき。美しい所作や凛とした姿勢を身につけ、健康で輝く自分を手に入れましょう。音楽に合わせて楽しく体を動かし、ポジティブなエネルギーで毎日をより豊かにします。</div>
        </div>
        <a href="/class" class="about__link">クラスの詳細はこちら</a>
      </div>

      
    </div>
  </main>
</Layout>
