---
import Layout from "../layouts/Layout.astro";
---

<Layout title="TOP" description="">
  <main slot="body">
    <div class="media">
      <div class="modTttlbox">
        <h2 class="modTttlbox--ttl">Dance Gallery</h2>
        <p class="modTttlbox--subttl">ダンスギャラリー</p>
      </div>

      <div class="tab-container">
        <div class="tab active">動画</div>
        <div class="tab">写真</div>
      </div>

      <div>
        <div class="media__contents show">
          <figure class="media__contents__movie">
            <img src="/assets/img/media/movie.jpg" alt="" width="785" height="462" />
          </figure>

          <figure class="media__contents__movie">
            <img src="/assets/img/media/movie.jpg" alt="" width="785" height="462" />
          </figure>

          <figure class="media__contents__movie">
            <img src="/assets/img/media/movie.jpg" alt="" width="785" height="462" />
          </figure>

          <figure class="media__contents__movie">
            <img src="/assets/img/media/movie.jpg" alt="" width="785" height="462" />
          </figure>
        </div>

        <div class="media__contents">
          <figure class="media__contents__movie">
            <img src="/assets/img/media/movie.jpg" alt="" width="785" height="462" />
          </figure>

          <figure class="media__contents__movie">
            <img src="/assets/img/media/movie.jpg" alt="" width="785" height="462" />
          </figure>

          <figure class="media__contents__movie">
            <img src="/assets/img/media/movie.jpg" alt="" width="785" height="462" />
          </figure>
        </div>
      </div>
      
      <div class="modSns">
        <p class="modSns__txt">各SNSで Leia Dance Studioの<br class="sm-only" />最新情報を発信しています。<br />フォロー頂けると嬉しいです！</p>
        <div class="modSnsLinks">
          <a href="https://x.com/leiadancestudio" target="_blank"><img src="/assets/img/common/x-color.svg" alt="X" width="40" height="40" /></a>
          <a href="https://www.instagram.com/leia_dance_studio/" target="_blank"><img src="/assets/img/common/insta-color.svg" alt="Instagram" width="43" height="43" /></a>
          <a href="https://www.facebook.com/leia.dance.studio/" target="_blank"><img src="/assets/img/common/fb-color.svg" alt="facebook" width="46" height="46" /></a>
        </div>
      </div>
    </div>
  </main>
</Layout>
