---
import Layout from "../layouts/Layout.astro";
---

<Layout title="" description="">
  <main slot="body">
    <div class="teacher">
      <div class="top__teacherBox">
        <figure class="top__teacherBox__prof">
          <img src="/assets/img/top/Maya_Kohno.jpg" alt="河野麻耶" width="485" height="485" />
        </figure>
        <div class="top__teacherBox__txtbox">
          <p class="top__teacherBox__txtbox--ttl">教師</p>
          <h2 class="top__teacherBox__txtbox--name">河野麻耶<br /><span>Maya Kohno</span></h2>
          <ul class="top__teacherBox__txtbox--text">
            <li>舞踊家</li>
            <li>レイアダンススタジオ主宰</li>
            <li>一般社団法人日本ジャズダンス芸術協会会員</li>
            <li>よみうりカルチャー川口「ジャズダンス」クラス講師</li>
            <li>よみうりカルチャー大森「アクティブシニアのジャズダンス」クラス 講師</li>
          </ul>
        </div>
      </div>

      <p class="teacher__text">
        1歳の時より祖母である金光郁子のもとでダンスを始める。<span>舞踊歴40年以上。</span>4代にわたるダンス一家に生まれ物心ついた時より踊る。<br />
        2才で初舞台を踏む。日本女子体育短期大学舞踊専攻卒業。<br />
        <br />
        2023年9月金光郁子舞踊学園を一部引き継ぎ、Leia Dance Studio (レイアダンススタジオ) の主宰と運営を始める。<br />
        <br />
        日本ジャズダンス芸術協会主催コンクールにて1996年成人部門特別賞、<br />
        2002年アダルト部門第1位、2007年には<span>コンクール最高位のグランプリを受賞。</span><br />
        Leia Dance Studio の前身の金光郁子舞踊学園においては、商業ミュージカル公演に14回出演、<br />
        発表会は68回出演、外部公演にも積極的に出演するなど豊富なダンス舞台経験あり。<br />
        <br />
        ジャズダンス、モダンダンス、本格的なミュージカルショーダンスだけにとどまらず、<br />
        ハワイやポリネシアン地域のフラ、フラメンコ、印度舞踊なども取り入れた様々なダンスのスタイルを会得。<br />
        <br />
        Leia Dance Studio では、年齢や性別を問わず、誰もが楽しく踊れるアットホームなスタジオを目指している。<br />
        今後、振付や演出を手がけた公演を開催し、皆が大きな舞台で心から楽しんで踊ることを目標に日々指導や稽古、振付に情熱を注いでいる。<br />
        スタジオに集まる生徒の皆さんと共に、笑顔あふれる時間を共有し、一緒に成長していくことを楽しみにしている。
      </p>

      <div class="teacher__messasge">
        <p class="teacher__messasge--txt">
          Leia Dance Studio では、レベル分けがない分、レッスンでは毎回生徒さんに合わて丁寧に指導いたします。未経験者でも大丈夫です！<br>
          ミュージカルダンス、フラダンスなど多様なダンススタイルを取り入れてるのも特徴です。楽しく踊りながら美しい姿勢と凛とした所作も身に付けましょう！スタジオでお会いできるのを楽しみにしております！
          <span class="teacher__messasge--dec">message</span>
        </p>
        <figure class="teacher__messasge--img"><img src="/assets/img/teacher/maya_kohno.png" alt="河野麻耶" width="298" height="298" /></figure>
      </div>

      <div class="teacher__history">
        <p class="teacher__history__ttl">ジャズダンスコンクール受賞歴</p>
        <p class="teacher__history__txt">一般社団法人日本ジャズダンス芸術協会主催のダンスコンクールにて最高位のグランプリ含めて複数回受賞しております。近年は、同ダンスコンクールの審査員も任されております。</p>

        <p class="teacher__history__subttl">受賞歴</p>

        <div class="teacher__historyBox" data-simplebar data-simplebar-auto-hide="false">
          <div class="teacher__historyBoxIn">
            <div class="teacher__historyTable">
              <p class="teacher__historyTable__ttl b">開催年</p>
              <p class="teacher__historyTable__ttl b">受賞</p>
              <p class="teacher__historyTable__ttl b">作品</p>
              <p class="teacher__historyTable__ttl b">受賞者</p>
            </div>
            <div class="teacher__historyTable">
              <p class="teacher__historyTable__ttl">1996年</p>
              <p class="teacher__historyTable__ttl">成人特別賞</p>
              <p class="teacher__historyTable__ttl">オクラホマ</p>
              <p class="teacher__historyTable__ttl"><span class="pink">河野 麻耶</span> 他</p>
            </div>
            <div class="teacher__historyTable">
              <p class="teacher__historyTable__ttl">2002年</p>
              <p class="teacher__historyTable__ttl">アダルト部門第1位</p>
              <p class="teacher__historyTable__ttl">睡蓮</p>
              <p class="teacher__historyTable__ttl"><span class="pink">河野 麻耶</span> 他</p>
            </div>
            <div class="teacher__historyTable">
              <p class="teacher__historyTable__ttl">グランプリ</p>
              <p class="teacher__historyTable__ttl">1920 U.S.A.</p>
              <p class="teacher__historyTable__ttl">CARAVAN&K</p>
              <p class="teacher__historyTable__ttl"><span class="pink">河野 麻耶</span> ,AYA 他</p>
            </div>
          </div>
        </div>
        <p class="teacher__note sm-only">※横にスクロールできます</p>

        <div class="teacher__historySlide">
          <figure class="slideImg"><img src="/assets/img/teacher/teacher01.jpg" alt="河野麻耶" width="342" height="228" /></figure>
          <figure class="slideImg"><img src="/assets/img/teacher/teacher02.jpg" alt="河野麻耶" width="342" height="228" /></figure>
          <figure class="slideImg"><img src="/assets/img/teacher/teacher03.jpg" alt="河野麻耶" width="342" height="228" /></figure>
        </div>

        <p class="teacher__historyTitle">ジャズダンス公演歴</p>
        <div class="teacher__historyBox" data-simplebar data-simplebar-auto-hide="false">
          <div class="teacher__historyBoxIn">
            <p class="teacher__historyPerttl">金光郁子舞踊学園</p>
            <dl class="teacher__historyList01">
              <dt class="teacher__historyList01--ttl">研究公演</dt>
              <dd class="teacher__historyList01--desc">No.25~68</dd>
              <dd class="teacher__historyList01--desc">44回</dd>
            </dl>

            <dl class="teacher__historyList01">
              <dt class="teacher__historyList01--ttl">研究生パフォーマンス</dt>
              <dd class="teacher__historyList01--desc">Vol.3,5,6,9,11,13,15,17,21,23,25,27, 29,31,33,35,37,39,41,43,45,46,47,48</dd>
              <dd class="teacher__historyList01--desc">24回</dd>
            </dl>
            <dl class="teacher__historyList01">
              <dt class="teacher__historyList01--ttl">キャラバン公演</dt>
              <dd class="teacher__historyList01--desc">No.17〜30</dd>
              <dd class="teacher__historyList01--desc">14回</dd>
              <dd class="teacher__historyList01--desc"></dd>
            </dl>
          </div>
        </div>
        <p class="teacher__note sm-only">※横にスクロールできます</p>

        <div class="teacher__historyBox" data-simplebar data-simplebar-auto-hide="false">
          <div class="teacher__historyBoxIn">
            <p class="teacher__historyPerttl">一般社団法人日本ジャズダンス芸術協会 主催公演</p>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">ジャズダンスフェスティバル</dt>
              <dd class="teacher__historyList02--desc">第14回〜第40回</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">第1回特別公演</dt>
              <dd class="teacher__historyList02--desc">義経・LIFE -life is show-</dd>
              <dd class="teacher__historyList02--desc">2005年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">協会設立25周年記念公演</dt>
              <dd class="teacher__historyList02--desc">Jazz on Stage 〜協会セレクション作品集〜</dd>
              <dd class="teacher__historyList02--desc">2008年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">一般社団法人設立記念特別公演</dt>
              <dd class="teacher__historyList02--desc">LEGEND OF JAZZ</dd>
              <dd class="teacher__historyList02--desc">2011年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">30周年記念特別公演</dt>
              <dd class="teacher__historyList02--desc">so all that JAZZ</dd>
              <dd class="teacher__historyList02--desc">2014年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">35周年記念特別公演</dt>
              <dd class="teacher__historyList02--desc">和無踊躍/Homage to West Side Story</dd>
              <dd class="teacher__historyList02--desc">2018年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">特別公演</dt>
              <dd class="teacher__historyList02--desc">The Infinity</dd>
              <dd class="teacher__historyList02--desc">2022年</dd>
            </dl>
          </div>
        </div>
        <p class="teacher__note sm-only">※横にスクロールできます</p>

        <div class="teacher__historyBox" data-simplebar data-simplebar-auto-hide="false">
          <div class="teacher__historyBoxIn">
            <p class="teacher__historyPerttl">現代舞踊協会</p>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">MODERN DANCE 新人公演100回記念</dt>
              <dd class="teacher__historyList02--desc">アンデパンダン新人舞踊展</dd>
              <dd class="teacher__historyList02--desc">2005年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">2011年都民芸術フェスティバル参加公演</dt>
              <dd class="teacher__historyList02--desc">現代舞踊公演</dd>
              <dd class="teacher__historyList02--desc">2011年</dd>
            </dl>
          </div>
        </div>
        <p class="teacher__note sm-only">※横にスクロールできます</p>

        <div class="teacher__historyBox" data-simplebar data-simplebar-auto-hide="false">
          <div class="teacher__historyBoxIn">
            <p class="teacher__historyPerttl">その他外部公演</p>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">2002 FIFA World Cup Korea/Japan 予選抽選会</dt>
              <dd class="teacher__historyList02--desc"></dd>
              <dd class="teacher__historyList02--desc">1999年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">よみうり・日本テレビ文化センター</dt>
              <dd class="teacher__historyList02--desc">Dancing Fair '99</dd>
              <dd class="teacher__historyList02--desc">1999年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">2003都民芸術フェスティバル特別公演</dt>
              <dd class="teacher__historyList02--desc">江戸開府400年記念スペシャル　江戸の華・TOKYOの華</dd>
              <dd class="teacher__historyList02--desc">2003年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">World Wide dance-Web</dt>
              <dd class="teacher__historyList02--desc">JAZZ DANCE SHOUCASE IN NAGOYA</dd>
              <dd class="teacher__historyList02--desc">2008年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">小野恵子プロデュース公演</dt>
              <dd class="teacher__historyList02--desc">舞劇　　睡蓮2011</dd>
              <dd class="teacher__historyList02--desc">2011年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">日本ジャズダンス芸術協会ダンスコンクール歴代受賞者によるスターガラ</dt>
              <dd class="teacher__historyList02--desc">STAR GARA</dd>
              <dd class="teacher__historyList02--desc">2017年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">坂戸エンターテイメント　グランワルツミュージカル</dt>
              <dd class="teacher__historyList02--desc">Freckleface Strawberry</dd>
              <dd class="teacher__historyList02--desc">2019年</dd>
            </dl>
            <dl class="teacher__historyList02">
              <dt class="teacher__historyList02--ttl">グランワルツミュージカル　〜金光郁子卆寿記念〜</dt>
              <dd class="teacher__historyList02--desc">Freckleface Strawberry</dd>
              <dd class="teacher__historyList02--desc">2020年</dd>
            </dl>
          </div>
        </div>
        <p class="teacher__note sm-only">※横にスクロールできます</p>

        <div class="teacher__historyEtc">
          <p class="teacher__historyEtc__ttl">その他実績</p>
          <ul>
            <li class="teacher__historyEtc__txt">（一社）日本ジャズダンス芸術協会主催ダンスコンクール 審査員（2024年度含め計7回）</li>
            <li class="teacher__historyEtc__txt">（一社）日本ジャズダンス芸術協会 理事（2014年, 2015年, 2020年, 2021年）</li>
            <li class="teacher__historyEtc__txt">（一社）日本ジャズダンス芸術協会 常任理事 (2016年〜2019年）</li>
          </ul>
        </div>

        <div class="teacher__historyPart">
          <figure class=""><img src="/assets/img/teacher/aya.jpg" alt="AYA" width="256" height="256" /></figure>
          <p class="teacher__historyPart--name">非常勤講師<br /><span class="en">AYA</span></p>
        </div>
      </div>
    </div>
  </main>
</Layout>
